
[submodule "lib/document-register-element"]
	path = lib/document-register-element
	url = https://github.com/WebReflection/document-register-element.git
[submodule "lib/MutationObservers"]
	path = lib/MutationObservers
	url = https://github.com/Polymer/MutationObservers.git
[submodule "lib/WeakMap"]
	path = lib/WeakMap
	url = https://github.com/Polymer/WeakMap.git
[submodule "lib/HTMLImports"]
	path = lib/HTMLImports
	url = https://github.com/Polymer/HTMLImports.git
